background color: white

.top {
  background-position: top;
  box-shadow: 20px 20px 50px,
  linear-gradiant(gray, white);
  border-top: red;

}

.logo {
  background-position: 50px 30px;
  box-shadow: 10px 10px 10px;
}

.bottom {
  background-position: bottom;
  box-shadow: 20px 20px 50px,
  linear-gradiant (gray, white);
}

h1{
  background-position: 95% center;
}
